.nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.navUl {
    padding: 4px 16px;
    display: flex;
    width: 100%;
  }
.li {
    display: flex;
    padding: 6px 8px;
  }
.a {
    color: #067df7;
    text-decoration: none;
    font-size: 13px;
  }